.item {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0 12px;
}

.item:hover {
  cursor: pointer;
}

.item img {
  display: block;
  width: inherit;
  height: 350px;
  object-fit: cover;
}

.item p {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.item p:last-child {
  margin-top: -5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 500px) {
  .item {
    width: 85vw;
  }
}
