.hottestSection {
  width: 85vw;
  margin: auto;
  margin-top: 15vh;
  text-align: center;
}

.hottestSection article {
  display: flex;
  justify-content: stretch;
  overflow: hidden;
  margin-top: 25px;
  position: relative;
}

.hottestSection button {
  position: absolute;
  top: 40%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: black;
  color: white;
  border: none;
}

.hottestSection button:disabled {
  opacity: 0.2;
  cursor: unset;
}

.hottestSection button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.hottestSection button:disabled:hover {
  background: black;
}

.hottestSection button:first-child {
  left: 16.3px;
}

.hottestSection button:last-child {
  right: 5px;
}

@media (max-width: 700px) {
  .hottestSection div {
    width: 90vw;
  }
}

.advantageSection {
  margin-top: 15vh;
  background: #f7f0ea;
  padding: 50px;
  text-align: center;
  width: 100%;
}

.advantageSection div {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-top: 35px;
}

.advantageSection section {
  font-size: 30px;
}

.advantageSection section p {
  font-size: 15px;
}

@media (max-width: 700px) {
  .advantageSection div {
    flex-direction: column;
  }
}
