.navbar {
  background: white;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar div {
  width: 85%;
  margin: auto;
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar ul a,
.navbar button {
  margin-right: 1.5em;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.navbar button {
  display: flex;
  align-items: center;
  font-size: 18px;
  border: none;
  outline: none;
  background: inherit;
}

.navbar article {
  position: relative;
}

.navbar button p {
  font-size: 12px;
}

.navbar section {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  padding: 10px;
}

.navbar section a {
  margin: 0;
  display: block;
}

.navbar section a:nth-child(2) {
  margin: 15px 0;
}

.navbar section a:hover {
  color: gray;
}

.navbar ul:last-child a:hover {
  border-bottom: solid 1px black;
}

.showDropdown:hover section {
  display: block;
}
