.navbar {
  background: white;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.navbar b {
  background: black;
  color: white;
  width: 89px;
  padding: 6px;
}

.navbar div {
  width: 85%;
  margin: auto;
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar ul a,
.navbar button {
  margin-right: 1.5em;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.navbar button {
  display: flex;
  align-items: center;
  font-size: 18px;
  border: none;
  outline: none;
  background: inherit;
}

.navbar article {
  position: relative;
  margin-left: 1.2em;
}

.navbar button p {
  font-size: 12px;
}

.navbar section {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
  padding: 10px;
  border-bottom: solid 2px black;
}

.navbar section a {
  margin: 0;
  display: block;
}

.navbar section a:nth-child(2),
.navbar section a:nth-child(3) {
  margin: 15px 0;
}

.navbar section a:hover {
  color: gray;
}

.navbar ul:nth-child(2) a:hover,
.mobileNav a:hover,
.mobileNav button:hover {
  border-bottom: solid 1px black;
}

.showDropdown:hover section {
  display: block;
}

.navbar button:last-child {
  font-size: 30px;
  display: none;
}

@media (max-width: 700px) {
  .navbar article,
  .navbar ul:nth-child(2) {
    display: none;
  }

  .navbar button:last-child {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 2px;
  }
}

.mobileNav {
  position: fixed;
  top: 45px;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.mobileNav a,
.mobileNav button {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 15px 0;
  height: 18px;
  border: none;
  outline: none;
  background: inherit;
}
