.login--page .main {
  width: 50vw;
  margin: auto;
  margin-top: 50px;
}

.login--page h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
}

.login--page p button {
  border: none;
  outline: none;
  background: inherit;
  font-family: inherit;
  font-size: 14px;
}

@media (max-width: 700px) {
  .login--page .main,
  .login--page main {
    width: 85vw;
  }
}
