.nav--bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  width: 100%;
  height: 50px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.04);
}

.nav--bar section {
  display: flex;
  align-items: center;
}

.nav--bar section:first-child a {
  font-weight: bold;
}

.nav--bar a {
  text-decoration: none;
  color: black;
}

.nav--bar section:last-child a,
.nav--bar button {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 50px;
  padding: 0 20px;
  border: none;
  background: inherit;
  outline: none;
}

.nav--bar section:last-child a:hover,
.nav--bar button:hover {
  background: rgba(0, 0, 0, 0.04);
}

.nav--bar section:last-child .active-link {
  background: rgba(0, 0, 0, 0.04);
}
