.profile--page main {
  width: 85vw;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile--page main h4 {
  font-weight: normal;
  letter-spacing: 2px;
}

.profile--page main button {
  background: black;
  color: white;
  padding: 10px 25px;
  border: none;
  outline: none;
  font-family: inherit;
}

.profile--page main button:hover {
  opacity: 0.8;
}
