.bag--page main {
  width: 85%;
  margin: auto;
}

.bag--page h4 {
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.bag--page .cart-items {
  width: 50%;
}

.bag--page .back-to-shopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.bag--page .get-back-btn,
.bag--page .checkout-btn {
  border: none;
  outline: none;
  background: black;
  color: white;
  padding: 2px 16px;
  font-family: inherit;
  display: flex;
  align-items: center;
}

.bag--page .get-back-btn:hover,
.bag--page .checkout-btn:hover {
  opacity: 0.9;
}

.bag--page .get-back-btn button p {
  margin-right: 5px;
}

.bag--page .buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.bag--page .checkout-btn {
  padding: 15.5px;
  margin-right: 10px;
}
