.cart--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.cart--item button {
  border: none;
  background: black;
  color: white;
  padding: 4px 10px;
  outline: none;
}

.cart--item button:hover {
  opacity: 0.8;
}

.cart--item button:disabled {
  opacity: 0.7;
  cursor: unset;
}

.cart--item div {
  display: flex;
  align-items: center;
}

.cart--item div p {
  margin: 0 5px;
}

.cart--item section {
  margin-left: 7vw;
}

.cart--item section p {
  line-height: 10px;
}

.cart--item img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}
