.cockpit {
  background-image: url("../assets/main.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cockpit p {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.cockpit button {
  background: black;
  border: none;
  color: white;
  outline: none;
  padding: 12px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: inherit;
}

.cockpit button:hover {
  opacity: 0.9;
}
