.explore--page .products {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.explore--page h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-size: 17px;
}

.explore--page .pagination-btns {
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

.explore--page .pagination-btns button {
  border: none;
  background: black;
  color: white;
  padding: 10px 15px;
  margin-right: 5px;
  font-family: inherit;
}

.explore--page .pagination-btns button:hover {
  opacity: 0.9;
}
