.item {
  width: 230px;
  text-decoration: none;
  color: black;
}

.item img {
  width: 100%;
  height: 200px;
  border: solid 2px black;
  object-fit: cover;
}

.item p:last-child {
  font-weight: bold;
}
