.product--details main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-top: 50px;
}

.product--details main section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product--details main button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 45px;
  background: black;
  color: white;
  width: 200px;
}

.product--details main button p {
  margin-left: 5px;
}

.product--details main section:first-child {
  padding-left: -6vw;
}

.product--details main section:nth-child(2) {
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product--details ul {
  margin-left: -22px;
}

.product--details img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.product--details select {
  border: solid 1px rgba(0, 0, 0, 0.2);
  height: 45px;
  outline: none;
  margin-right: 10px;
  width: 70px;
}

.product--details main .btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 700px) {
  .product--details main {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .product--details main .btns {
    margin: auto;
    justify-content: flex-start;
  }

  .product--details main section {
    width: 100%;
  }

  .product--details .btns {
    margin-left: -50px;
  }
}
