.summary {
  margin-top: 80px;
}

.summary section {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.summary h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-size: 17px;
}

.summary button {
  width: 200px;
  margin: 20px auto;
  border: none;
  background: black;
  color: white;
  font-family: inherit;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary button:hover {
  opacity: 0.9;
}
